<!DOCTYPE html>
    {{! This is the admin page of the website. }}
<html lang="en">
<head>
    {{> components/common-head }}
    <link rel="stylesheet" href="/static/admin.css">
    <script src="/static/admin.js"></script>
</head>
    <body>

    {{> components/header }}

    <div id="body-content">
        <div class="card secondary-background admin-card">
            <div>
                <h4>Add User</h4>
                <form id="form-add-user" onsubmit="return addUser()">
                    <label for="form-add-user-first-name">First name</label>
                    <input id="form-add-user-first-name" name="first_name" type="text"><br>
                    <label for="form-add-user-surname">Surname</label>
                    <input id="form-add-user-surname" name="surname" type="text"><br>
                    <label for="form-add-user-phone">Phone</label>
                    <input id="form-add-user-phone" name="phone" type="tel"><br>
                    <label for="form-add-user-email">Email</label>
                    <input id="form-add-user-email" name="email" type="email"><br>
                    <label for="form-add-user-password">Password</label>
                    <input id="form-add-user-password" name="password" type="password"><br>
                    <label for="form-add-user-admin">Admin</label>
                    <input id="form-add-user-admin" name="is_admin" type="checkbox">
                    <input id="form-add-user-submit" name="submit" type="submit" value="Add">
                </form>
            </div>
            <div>
                <h4>Remove User</h4>
                <form id="form-remove-user" onsubmit="return removeUser()">
                    <label for="form-remove-user-id">Id</label>
                    <input id="form-remove-user-id" name="user_id" type="number" min="1">
                    <input id="form-remove-user-submit" name="submit" type="submit" value="Remove">
                </form>
            </div>

            <table id="table-users" class="simple-table">
                <thead>
                <tr><th>Id</th><th>First Name</th><th>Surname</th><th>Phone</th><th>Email</th><th>Hashed Password</th><th>Active</th><th>Admin</th></tr>
                </thead>
                <tbody>
                {{#each people}}
                    <tr id="table-users-row-{{this.user_id}}"><td>{{this.user_id}}</td><td>{{this.first_name}}</td><td>{{this.surname}}</td><td>{{this.phone}}</td><td>{{this.email}}</td><td>{{this.password}}</td><td>{{this.is_active}}</td><td>{{this.is_admin}}</td></tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="card secondary-background admin-card">
            <div>
                <h4>Add Product</h4>
                <form id="form-add-product" onsubmit="return addProduct()">
                    <label for="form-add-product-name">Name</label>
                    <input id="form-add-product-name" name="name" type="text"><br>
                    <label for="form-add-product-description">Description</label>
                    <input id="form-add-product-description" name="description" type="text"><br>
                    <label for="form-add-product-image-uri">Image URI</label>
                    <input id="form-add-product-image-uri" name="image_uri" type="text"><br>
                    <label for="form-add-product-price">Price</label>
                    <input id="form-add-product-price" name="price" type="number" step="0.01" min="0">
                    <input id="form-add-product-submit" name="submit" type="submit" value="Add">
                </form>
            </div>
            <div>
                <h4>Edit product</h4>
                <form id="form-edit-product" onsubmit="return editProduct()">
                    <label for="form-edit-product-id">Id</label>
                    <input id="form-edit-product-id" name="product_id" type="number" min="1"><br>
                    <label for="form-edit-product-name">Name</label>
                    <input id="form-edit-product-name" name="name" type="text"><br>
                    <label for="form-edit-product-description">Description</label>
                    <input id="form-edit-product-description" name="description" type="text"><br>
                    <label for="form-edit-product-image-uri">Image URI</label>
                    <input id="form-edit-product-image-uri" name="image_uri" type="text"><br>
                    <label for="form-edit-product-price">Price</label>
                    <input id="form-edit-product-price" name="price" type="number" step="0.01" min="0">
                    <input id="form-edit-product-submit" name="submit" type="submit" value="Edit">
                </form>
            </div>

            <table id="table-products" class="simple-table">
                <thead>
                <tr><th>Id</th><th>Name</th><th>Description</th><th>Price</th><th>Image URI</th><th>Active</th></tr>
                </thead>
                <tbody>
                {{#each db_products}}
                    <tr id="table-products-row-{{this.product_id}}"><td>{{this.product_id}}</td><td>{{this.name}}</td><td>{{this.description}}</td><td>{{this.price}}</td><td>{{this.image_uri}}</td><td>{{this.is_active}}</td></tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


    {{> components/footer }}

    </body>
</html>
